<div class="detailed-main">
  <div class="detailed-content">
    <h2 class="title">{{ todoDetails.title }}</h2>
    <textarea class="description" disabled>{{
      todoDetails.description
    }}</textarea>
    <div class="buttons">
      <div
        [ngClass]="{'selected-button': todoDetails.status === 'todo'}"
        (click)="updateStatus('todo')"
        class="button-set-todo button"
      >
        <span>TODO</span>
      </div>
      <div
        [ngClass]="{'selected-button': todoDetails.status === 'done'}"
        (click)="updateStatus('done')"
        class="button-set-done button"
      >
        <span>DONE</span>
      </div>
    </div>
    <div
      [ngClass]="{'selected-button': todoDetails.status === 'doing'}"
      (click)="updateStatus('doing')"
      class="button-set-giveup button"
    >
      <span>DOING</span>
    </div>
  </div>
  <div class="detailed-close" (click)="closePopUp()">
    <span>CLOSE</span>
  </div>
</div>
