

.detailed{
    &-main {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.99);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }
    
    &-close {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        left: 10px;
        margin: 10px;
    }

    &-close span {
        width: 50%;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 90%;
        padding-top: 10px;
    }
}

.title {
    width: 80%;
    height: 1.5rem;
    border-bottom: 1px solid #0f0f0f;
    text-align: center;
}

.description {
    width: 80%;
    height: 50%;
    resize: none;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-top: 25px;
}

.selected-button {
    background-color: rgb(78, 155, 91,.4);
}